.App{
    height:auto;
    box-sizing: border-box;
    background-color: #B3E8F6;
    display: flex;
    flex-direction: column;
    padding:0;
    margin:0;
}

.header-box{
    height: 35vh;
}

.content-box{
    min-height: 55vh;
    max-height: auto;

}

.footer-box{
    height: 10vh;

    
}
